egs/must_c/_NOTES.md
egs/must_c/st_multilingual/cancel_jobs.sh
egs/must_c/st_multilingual/run-cmd.sh
egs/must_c/st_multilingual/submit_sequential_jobs.sh
egs/must_c/st_multilingual/test.py
egs/must_c/st_multilingual/run-multi.sh
*.DS_Store
egs/must_c/st_multilingual/_NOTES.md
egs/must_c/st_multilingual/run-multi-cpu.sh
egs/must_c/st_multilingual/_NOTES_examine.md
egs/must_c/st_multilingual/create_data.py
egs/must_c/st_multilingual/submit_sequential_jobs_any.sh
egs/must_c/st_multilingual/run-multi-toto.sh
egs/must_c/st_multilingual/_NOTES_report.md
egs/must_c/st_multilingual/_NOTES_backup.md
egs/must_c/st_multilingual/create_report.py
.vscode/.ropeproject/objectdb
egs/must_c/st_multilingual/test.sh
egs/must_c/st_multilingual/check.py
egs/must_c/st_multilingual/conf/tuning/*
*.vscode
egs/must_c/st_multilingual/_NOTES_draft.md
egs/must_c/st_multilingual/print_params.py
egs/must_c/st_multilingual/correct_json.py
egs/must_c/st_multilingual/report.py
egs/must_c/st_multilingual/_TEX.md
egs/must_c/st_multilingual/*.slurm
egs/must_c/st_multilingual/utils.sh
egs/must_c/st_multilingual/wt_*
egs/must_c/st_multilingual/create_data*
egs/must_c/st_multilingual/run-train.sh
egs/must_c/st_multilingual/conf/training_after/*
egs/must_c/st_multilingual/run-train-lig.sh
egs/must_c/st_multilingual/create_histogram.py
egs/must_c/st_multilingual/create_symlinks_tb.py
egs/must_c/st_multilingual/conf/decoding_after/*
egs/must_c/st_multilingual/run-decode.sh
egs/must_c/st_multilingual/run-tmp.sh
egs/must_c/st_multilingual/run-decode-tmp.sh
