*.DS_Store
*.vscode
.vscode/.ropeproject/objectdb

egs/must_c/st_multilingual/conf/_*
egs/must_c/st_multilingual/_slurm*
egs/must_c/st_multilingual/_tools*
egs/must_c/st_multilingual/_*

egs/europarl_st/st_multilingual/conf/_*
egs/europarl_st/st_multilingual/_slurm*
egs/europarl_st/st_multilingual/_tools*
egs/europarl_st/st_multilingual/_*